html,
body {
    overflow: hidden;
    height: 100%;
}

#profile,
img[data-state='open'] {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#profile:hover,
img[data-state='open']:hover {
    transform: scale(0.95);
}
